
@import url('https://fonts.googleapis.com/css?family=Playfair+Display');



.p1{
font-family: Cute  Font, cursive;
font-size: 30px;

}


.p2{
  font-family: Playfair Display,serif;
  font-size: 20px;
}
